/*@import "base/_typography.scss";*/

body,
html {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
}

.container , .row {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.sidebar-nav {
	background: #000;
	height: 100%;
	width: 10%;

	.menu-section {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		height: 100%;
		list-style-type: none;
		padding: 13px;

		.fa {
			padding: 17px; 
		}

		.menu-list {
			color: #a9a9a9;
		}
	}
}

.content-wrapper {
	width: 90%;
	padding: 0;
}

.horizontal-header {
	height: 60px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.header-content {
		flex: 0 2 auto;
		color: #a9a9a9;
	}

	.fa {
		padding:10px;
	}
}

.banner-section {
	background: url(../images/paris.jpg)  no-repeat center;
	background-size: cover;
	height: 210px;
	position: relative;

	.location-name {
		color: #fff;
		position: absolute;
		top: 14px;
		left: 18px;

		.fa {
			padding: 5px;
		}
	}

	.location-time {
		background-color: #663399;
		position: absolute;
	    top: 0;
	    right: 0;
	    width: 130px;
	    height: 100%;
	    opacity: .7;

	    .time-display {
	    	position: absolute;
	    	top: 50%;
		    left: 0;
		    right: 0;
		    text-align: center;
		    transform: translateY(-50%);
		    padding: 38px;
		    color: #fff;
	    }
	}

	.location-timemrng {
		@extend .location-time;
        background-color: #FF7F50;
        right: 130px;
	}
}

.footer-section {
	width: 100%;
	height: 50px;
	clear: both;
}