/*@import "base/_typography.scss";*/

body,
html {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
}

.container , .row {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.sidebar-nav {
	background: #000;
	height: 100%;
	width: 10%;

	.menu-section {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;

		.menu-list {
			align-self: center;
		}
	}
}

.horizontal-header {
	height: 60px;
	width: 90%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.header-content {
		flex: 0 2 auto;
		color: #a9a9a9;
	}
}

.footer-section {
	width: 100%;
	height: 50px;
	clear: both;
}